In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
data_2019 = pd.read_csv("data_2019.csv")

C:\Users\thoma\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
data_all = pd.concat([data_2019,data_2020])

In [13]:
data_all = data_all.reset_index(drop=True)

In [14]:
data_all

,orderDate,productId,sellerId,totalPrice,quantityOrdered,countryCode,cancellationDate,cancellationReasonCode,promisedDeliveryDate,shipmentDate,...,currentCountryAvailabilitySeller,calculationDefinitive,noCancellation,onTimeDelivery,noCase,hasOneCase,hasMoreCases,noReturn,generalMatchClassification,detailedMatchClassification
0,2019-10-20,9200000110033280,1336219,23.90,1,NL,NaN,NaN,2019-10-23,2019-10-21,...,ALL,True,True,NaN,True,False,False,False,KNOWN MILDLY UNHAPPY,UNHAPPY
1,2019-10-20,9200000001045430,818914,21.00,1,NL,NaN,NaN,2019-10-23,2019-10-21,...,NL,True,True,True,True,False,False,True,KNOWN HAPPY,KNOWN HAPPY
2,2019-06-27,9200000108257495,1422905,15.95,1,BE,NaN,NaN,2019-06-28,2019-06-27,...,NL,True,True,True,True,False,False,True,KNOWN HAPPY,KNOWN HAPPY
3,2019-01-14,9200000074971017,1176933,19.44,1,NL,NaN,NaN,2019-01-15,2019-01-14,...,NL,True,True,False,True,False,False,True,KNOWN MILDLY UNHAPPY,UNHAPPY
4,2019-05-01,9200000036267222,1331315,33.95,1,NL,NaN,NaN,2019-05-03,2019-05-02,...,NL,True,True,True,True,False,False,True,KNOWN HAPPY,KNOWN HAPPY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4755370,2020-09-19,9200000081351201,1349560,12.68,2,BE,NaN,NaN,2020-09-28,2020-09-21,...,BE,True,True,NaN,True,False,False,True,UNKNOWN,UNKNOWN
4755371,2020-08-04,9200000119449753,1349560,6.70,1,BE,NaN,NaN,2020-08-11,2020-08-05,...,BE,True,True,NaN,True,False,False,False,KNOWN MILDLY UNHAPPY,UNHAPPY
4755372,2020-07-30,9200000081351201,1349560,23.25,3,BE,NaN,NaN,2020-08-06,2020-07-31,...,BE,True,True,NaN,True,False,False,True,UNKNOWN,UNKNOWN
4755373,2020-07-30,9200000081351201,1349560,23.25,3,BE,NaN,NaN,2020-08-06,2020-07-31,...,BE,True,True,NaN,True,False,False,True,UNKNOWN,UNKNOWN
4755374,2020-10-25,9200000081351201,1349560,6.74,1,BE,NaN,NaN,2020-11-02,2020-10-25,...,BE,True,True,NaN,True,False,False,True,UNKNOWN,UNKNOWN

In [29]:
data_all['detailedMatchClassification'].value_counts()

KNOWN HAPPY    2732292
UNKNOWN        1387194
UNHAPPY         635889
Name: detailedMatchClassification, dtype: int64

In [32]:
data_all.count()

orderDate                           4755375
productId                           4755375
sellerId                            4755375
totalPrice                          4755375
quantityOrdered                     4755375
countryCode                         4755375
cancellationDate                      99783
cancellationReasonCode                99783
promisedDeliveryDate                4754607
shipmentDate                        4655856
transporterCode                     4640391
transporterName                     4640391
transporterNameOther                  79701
datetTimeFirstDeliveryMoment        3161466
fulfilmentType                      4755375
startDateCase                        215166
cntDistinctCaseIds                   215166
returnDateTime                       308601
quanityReturned                      305250
returnCode                             6747
productTitle                        4755375
brickName                           4755375
chunkName                           4732266
productGroup                        4755375
productSubGroup                     4755375
productSubSubGroup                  4755375
registrationDateSeller              4755021
countryOriginSeller                 4755021
currentCountryAvailabilitySeller    4755021
calculationDefinitive               4755375
noCancellation                      4755375
onTimeDelivery                      3156249
noCase                              4755375
hasOneCase                          4755375
hasMoreCases                        4755375
noReturn                            4755375
generalMatchClassification          4755375
detailedMatchClassification         4755375
dtype: int64

In [31]:
data_all['countryCode'].value_counts()

NL    3750660
BE    1004715
Name: countryCode, dtype: int64

In [33]:
data_all['calculationDefinitive'].value_counts()

True    4755375
Name: calculationDefinitive, dtype: int64

In [35]:
data_all['noCancellation'].value_counts()

True     4723116
False      32259
Name: noCancellation, dtype: int64

In [36]:
data_all['cancellationReasonCode'].value_counts()

CUST_FE                        63720
SELLER_OUT_OF_STOCK            10989
SELLER_NOT_AVAIL_IN_TIME        6777
SELLER_EXP                      5754
CUST_CS                         2976
SELLER_UNDELIV                  2865
SELLER_TECH_ISSUE               2400
SELLER_BAD_CONDITION             834
SELLER_OTHER                     825
TECH_ISSUE                       390
SELLER_INCORRECT_PRICE           375
SELLER_HIGHER_SHIPCOST           369
SELLER_UNFINDABLE_ITEM           348
SELLER_AFTERCONFIRMATION         336
SELLER_ORDERED_TWICE             324
SELLER_REQ_BY_CUSTOMER           237
SELLER_BANNED                    207
SELLER_RETAIN_ITEM                18
PS_OTHER                          12
SELLER_NO_BOL_GUARANTEE            9
SUPPLIER_BE                        9
UNDELIV                            6
PS_CONTENT_CHANGED_BY_OTHER        3
Name: cancellationReasonCode, dtype: int64

In [37]:
data_all['returnCode'].value_counts()

NO_REASON_PROVIDED               2283
OTHER                            1824
WRONG_SIZE_ORDERED                882
WRONG_ARTICLE_ORDERED             720
ARTICLE_BROKEN                    363
ARTICLE_DAMAGED                   243
WRONG_ARTICLE_RECEIVED            213
INCORRECT_PRODUCT_INFORMATION      84
ARTICLE_INCOMPLETE                 57
ARTICLE_DELIVERY_TOO_LATE          57
NO_RETURN_CODE_AVAILABLE           21
Name: returnCode, dtype: int64

In [38]:
data_all['onTimeDelivery'].value_counts()

True     2978928
False     177321
Name: onTimeDelivery, dtype: int64

In [39]:
data_all['noCase'].value_counts()

True     4540209
False     215166
Name: noCase, dtype: int64

In [40]:
data_all['noReturn'].value_counts()

True     4458417
False     296958
Name: noReturn, dtype: int64

In [43]:
data_all['countryOriginSeller'].value_counts()

NL    4595817
BE     139605
DE      19599
Name: countryOriginSeller, dtype: int64

In [71]:
data_all.dtypes

orderDate                           datetime64[ns]
productId                                   object
sellerId                                    object
totalPrice                                 float64
quantityOrdered                              int64
countryCode                                 object
cancellationDate                    datetime64[ns]
cancellationReasonCode                      object
promisedDeliveryDate                datetime64[ns]
shipmentDate                        datetime64[ns]
transporterCode                             object
transporterName                             object
transporterNameOther                        object
datetTimeFirstDeliveryMoment        datetime64[ns]
fulfilmentType                              object
startDateCase                       datetime64[ns]
cntDistinctCaseIds                         float64
returnDateTime                      datetime64[ns]
quanityReturned                            float64
returnCode                                  object
productTitle                                object
brickName                                   object
chunkName                                   object
productGroup                                object
productSubGroup                             object
productSubSubGroup                          object
registrationDateSeller              datetime64[ns]
countryOriginSeller                         object
currentCountryAvailabilitySeller            object
calculationDefinitive                         bool
noCancellation                                bool
onTimeDelivery                              object
noCase                                        bool
hasOneCase                                    bool
hasMoreCases                                  bool
noReturn                                      bool
generalMatchClassification                  object
detailedMatchClassification                 object
dtype: object

In [48]:
data_all['onTimeDelivery'].value_counts()

True     2978928
False     177321
Name: onTimeDelivery, dtype: int64

In [70]:
data_all['sellerId'] = data_all['sellerId'].astype('object')

In [59]:
data_all['orderDate'].value_counts()

2020-11-27    20400
2020-11-30    18393
2020-11-29    17565
2020-11-25    17541
2020-11-26    17019
              ...
2019-03-30     3240
2019-01-19     3213
2019-02-16     2952
2019-04-21     2652
2019-04-20     2553
Name: orderDate, Length: 708, dtype: int64

In [74]:
data_all = data_all.sort_values('orderDate')

In [83]:
data_all = data_all.reset_index(drop=True)

In [84]:
y = data_all['detailedMatchClassification']

In [85]:
data_all[['sellerId', 'productId']]

        sellerId         productId
0         717204  9200000021792374
1         916297  9200000075177557
2        1237542  9200000065419221
3        1403339  9200000079850407
4        1105565  9200000027004367
...          ...               ...
4755370  1237542  9300000017013263
4755371  1237542  9300000017979372
4755372  1158662  9200000109491748
4755373  1269313  9000000011616846
4755374  1521385  9300000001967999

[4755375 rows x 2 columns]